<div class="container" style="padding-top: 50px">
  <div class="form-group">
    <input #input (keyup)="onSearch(input.value)" type="text" placeholder="Search users..." class="form-control">
  </div>
  <div class="row">
    <div *ngFor="let user of users">
      <div class="col-md-12">
        <div class="thumbnail">
          <img [src]="user.avatar_url" style="width: 200px;">
        </div>
        <div class="caption py-3" style="color:blue;">
          <details>
            <summary>{{user.login | uppercase}}</summary>
            <div style="color:rebeccapurple;">
              <label style="font-style:oblique;"><b>User Id: </b></label>
              <span>{{user.id}}</span>
            </div>
            <div style="color:rebeccapurple;">
              <label style="font-style:oblique;"><b>URL:</b></label>
              <span> {{user.url}}</span>
            </div>
            <div style="color:rebeccapurple;">
              <label style="font-style:oblique;"><b>Admin:</b></label>
              <span *ngIf="user.site_admin == true">Yes</span>
              <span *ngIf="user.site_admin == false">No</span>
            </div>
            <div>
              <label (click)="viewUser(user)" style="font-style:oblique;cursor:pointer">My Followers</label>
            </div>
            <div *ngFor="let follower of selectedUser.followers">
              <div class="col-md-12">
                <div class="thumbnail">
                  <img [src]="follower.avatar_url" style="width: 200px;">
                </div>
                <div class="caption py-3" style="color:blue;">
                  <details>
                    <summary (click)="viewUser(user)">{{follower.login | uppercase}}</summary>
                    <div style="color:rebeccapurple;">
                      <label style="font-style:oblique;"><b>User Id: </b></label>
                      <span>{{follower.id}}</span>
                    </div>
                    <div style="color:rebeccapurple;">
                      <label style="font-style:oblique;"><b>URL:</b></label>
                      <span> {{follower.url}}</span>
                    </div>
                    <div style="color:rebeccapurple;">
                      <label style="font-style:oblique;"><b>Admin:</b></label>
                      <span *ngIf="follower.site_admin == true">Yes</span>
                      <span *ngIf="follower.site_admin == false">No</span>
                    </div>
                  </details>
                </div>
              </div>
            </div>
          </details>
        </div>
      </div>
    </div>
  </div>
</div>
