<div class="pt-5">
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="header-bar">
      <div class="brand">
        <a class="navbar-brand" routerLink="">
          Angular7
        </a>
      </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/dragAndDrop">Drag and Drop</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/model">Modal</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/popover">Popover</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/tabset">TabSet</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/github">GitHub User</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
